.home {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 50px;
    background-color: #ffffffed;
    border: 1px solid black;
    margin: 0 5%;
    padding: 30px 0px;
    border-radius: 5px;
}

@media (max-width: 1080px) {
    .home {
        margin: 0px 70px;
        padding: 20px 20px;
    }
}


@media (max-width: 425px) {
    .home {
        margin-bottom: 50px;
    }
}