.home {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 50px;

    background-color: white;
    margin: 0px 200px;
    padding: 50px 40px;
    border-radius: 12px;
    border: 2px solid black ;
}