.temas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    align-items: center;
}

.link {
    width: 140px;
    text-align: center;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
    color: black;
    transition: 0.2s;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    width: 140px;
    text-decoration: none;
}

.link:hover {
    transform: scale(1.1);
}