.detailMain {
    display: flex;
    justify-content: center;
    align-items: center;  
}

.questionContent {
    background-color: #fffffff8;
    border-radius: 15px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
    margin: 0 20%;
    padding-bottom: 50px;
}

.questionTagAndIndex {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.tag {
    color: #111111;
    font-weight: bold;
    display: flex;
    justify-content: center;
    padding: 3px 40px;
    border-radius: 15px;
}

.questionIndex {

    font-size: 18px;
    text-align: end;
    margin-right: 5px;
}

.questionDescribe {
    margin-top: 30px;
    height: 35px;
    font-size: 16px;
    font-weight: bold;
    padding: 0 40px;
}

.answers {

    margin-top: 15px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    justify-items: center;
    gap: 15px;
    padding: 0 20px;
}

.answers button {
    width: 100%; 
    padding: 8px 0;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    color: black;
    border: 1px solid black;
    background-color: #ffffff;
}

button:hover {
    background-color: rgb(229, 229, 229);
}

/* FEEDBACK */
.finish {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #fffffff8;
    border-radius: 15px;
    padding: 20px;
    margin: 0 20%;
    height: 300px;
}

.finish button {
    width: 140px;
    text-align: center;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    background-color: #0ff3ff;
    color: black;
}

.finish button:hover {
    opacity: 70%;
}

.feedback {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 15px;
}

.feedback p{
    font-size: 14px;
    text-align: justify;
}

.green {
    color: green;
}

.red {
    color: red;
}


@media (max-width: 600px) {
    .questionContent {
        margin: 0 5%;
    }
    .finish {
        margin: 0 5%;
    }
}