.footer {
    width: 100%;
    background-color: #ffffff;
    color: black;
    position: fixed;
    z-index: 10;
    bottom: 0;
    padding: 0.4rem 0;
    text-align: center;
}

.footer small {
    font-size: 12px;
    font-weight: bold;
}