.footer {
    width: 100%;
    color: #7cfc00;
    background-color: #111111;
    position: fixed;
    z-index: 10;
    bottom: 0;
    height: 5vh;
    display: flex;
    align-items: center;
}

.footer small {
    width: 100%;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
}