@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Sora', serif;
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(rgba(79, 223, 255, 0.2), rgba(79, 223, 255, 0.2)), url('/fundo.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  width: 100%;
  height: 100vh;

}
